{{#each this}}
<div class="card comment-anim " style="max-width: 74.5%;">
    <ul class="list-group list-group-flush ">
        <li class="list-group-item user-comment">{{comment}} <i>__ by <strong>{{user.username}}</strong></i></li>
    </ul>
</div>
{{/each}}

<script src="/javascript/delete-comment.js"></script>