{{#each this}}
<div class="card" style="width: 35rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{comment}} __ by {{user.username}}</li>
    </ul>
</div>
{{/each}}