{{#each this}}
<div class="card" style="max-width: 74.5%;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{comment}} __ by <i>{{user.username}}</i></li>
    </ul>
</div>
{{/each}}