{{#each this}}
<div class="card comment-anim" style="max-width: 74.5%;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{comment}} by <i><strong>{{user.username}}</strong> on {{format_date
                created_at}}</i></li>
    </ul>
</div>
{{/each}}