{{#each this }}
<div class="col mb-3">
    <div class="card h-100 card-anim">
        <img src={{image}} class="card-img-top">
        <div class="card-body badge bg-light">
            <h6 class="card-title"> <a href="/drawing/{{id}}">{{title}}</a></h6>
        </div>
    </div>
</div>
{{/each }}