<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meural</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<div class="wrapper">
    <header>
        <h1><a id="title" class="title-anim" href="/">Meural</a></h1>
        <nav class="navbar mt-2">
            {{#if loggedIn}}
            <a href="/">Homepage</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/draw">draw image</a>
            <button id="logout">Logout</button>
            {{else}}
            <a href="/">Homepage</a>
            <a href="/draw">draw image</a>
            <a href="/gallery">Gallery</a>
            <a href="/login">Login</a>
            {{/if}}
        </nav>
    </header>

    <main>
        {{{ body }}}
    </main>

    <footer class="footer rows pb-2">
        <div class="row-is-full content has-text-centered">
            <p>
                <a href="/">Homepage</a>{{#if loggedIn}} |
                <a href="/dashboard">Dashboard</a> |

                {{else}}

                | <a href="/login">Login</a>
                {{/if}}
            </p>
        </div>
        <div class="row-is-full content has-text-centered">

        </div>
    </footer>
</div>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>