<!DOCTYPE html>
<html lang="en">

<body>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Meural</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/mainstyle.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

    </head>
    <header>
        <h1><a id="title" class="title-anim" href="/">Meural</a></h1>
        <nav class="navbar mt-2">
            {{#if loggedIn}}
            <a href="/my-canvas">My Canvas</a>
            <button id="logout">Logout</button>
            {{else}}
            <a href="/signup">Register</a>
            {{/if}}
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer class="footer rows pb-2 fixed-bottom">
        <div class="row-is-full content has-text-centered">
            <p>
                {{#if loggedIn}} |
                <a href="/my-canvas">My Canvas</a>

                {{else}}

                | <a href="/login">Login</a>
                {{/if}}
            </p>
        </div>
    </footer>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>