<section>
    <h2 class="titleDraw">Draw your doodle!</h2>

    <canvas id="canvas" style="border:3px solid black"></canvas>


    <button id="clearCanvas">Clear Canvas</button>
    <input type="color" id="colourInput" value="#3d34a5" />
    <br></br>
    <form class="new-post-form">
        <input type="text" class="hide" id="draw_dataURL" rows="5" name="draw_dataURL">
        <label for="drawing-title" class="edit-title">Name your doodle!</label>
        <input type="text" id="drawing-title" name="drawing-title" />
        <button type="submit" id="postCanvas">Submit Canvas</button>
    </form>

</section>

<script src="/javascript/canvas.js"></script>
<script src="/javascript/add-drawing.js"></script>