<div>
    <canvas id="canvas" width="200" height="200" style="border:1px solid"></canvas>

    <button id="postCanvas">Submit Canvas</button>
    <button id="clearCanvas">Clear Canvas</button>
    <br></br>
    <textarea id="draw_dataURL" rows="5"> Data URL your drawing here! </textarea>
    <img id="drawDataImage" src="" alt="Test Drawing goes Here" />
    <div>


        <script src="/javascript/canvas.js"></script>