{{!-- <div class="column">
  <h2 class="title pb-4">login:</h2>
  <hr>
  <form class="login-form">
    <div>
      <label for="email-login">email:</label>
      <input type="text" id="email-login" />
    </div>
    <div>
      <label for="password-login">password:</label>
      <input type="password" id="password-login" />
    </div>
    <div>
      <button type="submit">login</button>
      <a href="/login"><button type="button" class="signUpButton">signup</button></a>
    </div>
  </form>
</div> --}}

<section>
  {{!-- <div class="herobg"></div>
  <div class="herobg-bg2"></div>
  <div class="herobg-bg3"></div> --}}
  <div class="hero-form">
    <h3>Log in</h3>
    <form>
      <label for="name">Enter your username:</label>
      <input type="text" placeholder="Your Name" name="name" id="name" class="form-input">

      <label for="email">Enter your password:</label>
      <input type="text" placeholder="password" name="password" id="email" class="form-input">
    </form>
    <button type="submit" class="loginButton">login</button>
    <a href="/signup"><button type="button" class="signUpButton">register</button></a>
  </form>
  </div>
</section>

<!-- javascript file-->
<script src="/javascript/login.js"></script>