<section>
  <div >
    <h3>Log in</h3>
    <form class="hero-form">
      <label for="name">Enter your username:</label>
      <input type="text" placeholder="Your Name" name="name" id="name" class="form-input">

      <label for="password">Enter your password:</label>
      <input type="password" placeholder="password" name="password" id="password" class="form-input">

      <button type="submit" class="loginButton">login</button>
      
    </form>
  </div>
</section>

<!-- javascript file-->
<script src="/javascript/login.js"></script>