<section>
<div class="column">
<h3>Login</h3><hr>
<form class="hero-form">
  
    <label for="name">Enter your username:</label>
    <input type="text" placeholder="Your Username" id="name" class="form-input"/>
  
  
    <label for="password">Enter your password:</label>
    <input type="password" placeholder="password" name="password" id="password" class="form-input"/>
  
  
    <button type="submit" class="loginButton">login</button>
    
  
</form>
</div>
</section>
<!-- javascript file-->
<script src="/javascript/login.js"></script> 