<section>
    <a href="/my-canvas/create">Create Drawing!</a>
</section>

{{#if posts.length}}

<section>
    <h2 class="titleDraw">Your Drawings</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/my-canvas/edit/{{id}}" class="edit-title">Edit Drawing</a>
        </li>
        {{/each}}
    </ol>
</section>

{{/if}}