<section>
    <a href="/my-canvas/create" class="titleDraw">Create Drawing!</a>
</section>

{{#if posts.length}}

<section>
    <h2 class="titleDraw">Your Drawings</h2>
    <ol>
        <div class="row row-cols-1 row-cols-md-5 g-4">
            {{#each posts as |post|}}
            <li>
                {{> post-info post}}
                <a href="/my-canvas/edit/{{id}}" class="edit-title">Edit Drawing</a>
            </li>
            {{/each}}
        </div>
    </ol>
</section>

{{/if}}
