<section>
    <h2>Create New Drawing</h2>

    <canvas id="canvas" width="200" height="200" style="border:3px solid black"></canvas>


    <button id="clearCanvas">Clear Canvas</button>
    <br></br>
    <form class="new-post-form">
        <input type="text" class="hide" id="draw_dataURL" rows="5" name="draw_dataURL">
        <label for="drawing-title">Title</label>
        <input type="text" id="drawing-title" name="drawing-title" />
        <button type="submit" id="postCanvas">Submit Canvas</button>
    </form>

</section>

{{#if posts.length}}
<section>
    <h2>Your Drawings</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}}
            <a href="/my-canvas/edit/{{post.id}}" class="edit-title">Edit Drawing</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/canvas.js"></script>
<script src="/javascript/add-drawing.js"></script>