* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Permanent Marker', cursive;
  color: #760270;
  background: linear-gradient(270deg, #2bcaa2, #062c9e, purple);
  background-size: 400% 400%;
  animation: background_anim 1000s linear infinite;
}

footer {
  bottom: 0px;
  background-image: url("/uploads/drawings/backgroundcanvas.jpg");
  position: fixed;
  width: 100%;
  /* Height of the footer*/
  height: auto;
}

main {
  padding: 10px;
  padding-bottom: 70px;
  min-height: 100%
}

header {
  padding-top: 0;
  background-image: url("/uploads/drawings/backgroundcanvas.jpg");
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: inset 0 0 5px 5px #888;
  animation: background_anim 200s linear infinite;
}

#title {
  font-size: 50px;
  color: #760270;
  font-family: 'Permanent Marker', cursive;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1.5px;
  margin: 20px 0;
}

input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
  min-width: 50%;
  min-height: 40px;
}

textarea, input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: 'Permanent Marker', cursive;
}

textarea {
  min-width: 30%;
  min-height: 30%;
}

form label {
  display: block;
  font-family: 'Permanent Marker', cursive;
}

.page-header,.titleDraw {
  color: black;
}

.edit-title {
  color: black;
}

.hero-form {
  background-image: url("/uploads/drawings/backgroundcanvas.jpg");
  border-radius: 0.25em;
  box-shadow: inset 0 0 5px 5px #888;
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Permanent Marker', cursive;
  color: #760270;
}

.hero-form h3 {
  font-size: 24px;
  margin: 0;
}

.hero-form p {
  margin: 5px 0 15px 0;
}

.form-input {
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #760270;
  width: 100%;
  margin-bottom: 15px;
}

.hero-form label {
  margin: 0 5px;
}

.hero-form button {
  color: #760270;
  background-color: #024e76;
  border: none;
  padding: 5px 15px;
  display: inline;
  font-size: 16px;
  text-align: justify;
  justify-content: space-between;
  font-family: 'Permanent Marker', cursive;
}

a {
  text-align: center;
}

.signUpButton {
  text-align: center;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

form>div {
  margin-bottom: 2%;
}

a {
  text-decoration: none;
  color: #760270;
  font-weight: bold;
  transition: color 0.1s;
  margin-right: 30px;
  font-size: 30px;
  font-family: 'Permanent Marker', cursive;
}

a:hover {
  color: #a3cef1;
}

.pb-4 {
  color: black
}

.login-form {
  box-shadow: inset 0 0 5px 5px #888;
  border: 3px solid #024e76;
  background-image: url("/uploads/drawings/backgroundcanvas.jpg");
  padding: 20px;
  color: #760270;
  width: 40%;
  margin: 3.5%;
  box-shadow: inset 0 0 5px 5px;
  font-family: 'Permanent Marker', cursive;
}

.signup-form {
  width: 100%;
  padding: 0.75rem;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  font-family: 'Permanent Marker', cursive;
  color: black
}

button {
  border: 0;
  padding: 1%;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3a4655;
}

.title-anim {
  animation: 1s slideIn ease-in-out forwards 1s;
  opacity: 0;
  position: relative;
}

.card-anim {
  animation: 500ms slide ease-in-out forwards 1.5s;
  opacity: 0;
  position: relative;
}

.card-text{
  font-size:14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card-name{
  font-size:18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.comment-anim {
  animation: 1s commentSlide ease-in-out forwards 2s;
  opacity: 0;
  position: relative;
}
.user-comment{
  display: flex;
justify-content: space-evenly;

}

.hide {
  visibility: hidden;
}

@keyframes commentSlide {
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  100% {
    opacity: 1;
  }
}

@keyframes slide {
  100% {
    opacity: 1;
  }
}

/* makes background move */

@keyframes background_anim {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2122px 0;
  }
}