* {
    margin:0;
    padding: 0;
    box-sizing: border-box;

  }
  body, html {
   
    margin:0;
    padding: 0;
    height:100%;
  
  }
  header {
    padding: 20px 35px;
    background-image: url("../../images/backgroundcanvas.jpg");
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: inset 0 0 5px 5px #888;
  }

  footer {
    position: fixed;
    background-image: url("./../uploads/drawings/backgroundcanvas.jpg");
    
  }
  
  header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    color: rgb(162, 0, 255) 
  }
  header a {
    text-decoration: none;
    color: rgb(162, 0, 255); 
    font-weight: bold;
    transition: color .1s;
    margin-right: 30px;
    font-size: 30px;
  }
  header nav {
    margin: 7px 0;
  }
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  header nav ul li a {
      margin: 0 30px;
      font-weight: bold;
      font-size: 1.55vw;
   
  }
  
  

  .herobg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, rgb(140, 0, 255) 50%, rgb(162, 0, 255) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1
  }
  .herobg-bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  
  .herobg-bg3 {
    animation-duration:5s;
  }
  
  .hero-form {
    background-image: url("../../images/backgroundcanvas.jpg");
    border-radius:.25em;
    box-shadow: inset 0 0 5px 5px #888;
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
   
  }
  .hero-form h3 {
    font-size: 24px;
    margin: 0;
  }
  .hero-form p {
    margin: 5px 0 15px 0;
  }
  .form-input {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: rgb(162, 0, 255); 
    width: 100%;
    margin-bottom: 15px;
  }
  .hero-form label {
    margin: 0 5px;
  }
  .hero-form button {
    color: #fce138;
    background-color: #024e76;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    50% {
      transform:translateX(25%);
    }
    100% {
      transform:translateX(-25%);
    }
    
  }
  
  
  footer {
    position: fixed;
    bottom: 0px;
    padding-bottom: 1.5%;
    background-image: url("../../images/backgroundcanvas.jpg");
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: inset 0 0 5px 5px #888;
    width: 100%;
  }
  footer h2 {
    color: rgb(162, 0, 255); 
    font-size: 30px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    bottom: 0px;
  }
  footer div {
    bottom: 0px;
    line-height: 1.5;
    text-align: center;
  }
  footer a {
    color: rgb(162, 0, 255) 
  }